<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">

<head>
    <meta charset="utf-8">
    <meta name="author" content="kara cavanaugh" />
    <meta name="description" content="angular app" />
    <style>
        .done {
            text-decoration: line-through;
            color: #aaa;
        }

        ul {
            margin-top: 20px;
        }

        button {
            margin: 10px;
        }

        .form {
            display: flex;
            flex-direction: row;
        }

        .add {
            background-color: lightgreen
        }

        .remove {
            background-color: pink
        }
    </style>
    <title>To Do App</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <div>
        <h1>Weekly To Do List</h1>
    </div>
    <div ng-controller="toDoController">
        <div class="form">
            <form name="listform" ng-submit="addToDo()">
                <input type="text" ng-model="newToDo" name="submitToDo" required/>
                <button class="add">Add Item</button>
            </form>
            <button class="remove" ng-click="clearCompleted()">Clear Completed</button>
        </div>

        <ul>
            <li ng-repeat="todo in todos">
                <span ng-class="{'done': todo.done}">{{todo.title}}</span>

                <input type="checkbox" ng-model="todo.done" </ul>
            </li>
    </div>


    <script src="./script.js" />

</body>

</html>